section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding: 85px 0px;
  background-image: url("../public/water-2748695_1280.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
}
.container {
  text-align: center;
  width: 320px;
  padding: 0px 20px;
  margin: 0 auto;
}

@media (min-width: 360px) {
  .container {
    width: 360px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0px 32px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0px 40px;
  }
}
